* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #e5e7eb;
}

header {
  height: 8vh;
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
}

.logo a {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.hero {
  height: 46vh;
  padding: 0 15%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #1f2937;
}

.container {
  display: flex;
}

.hero .container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
}

button {
  font-size: 18px;
  font-weight: 900;
  background-color: #3882f6;
  padding: 0.5rem 1.75rem;
  border: none;
  border-radius: 0.5rem;
}

.more-info {
  height: 46vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.more-info h2 {
  font-weight: 900;
  color: #1f2937;
  font-size: 36px;
}

.card {
  width: 200px;
}

.more-info .container {
  gap: 3rem;
}

.card img {
  border: #3882f6 0.25rem solid;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.card p {
  color: #1f2937;
  font-size: 18px;
  text-align: center;
}
